# História das Olimpíadas  
_(créditos ao prof. Rafael Moreira)_

Após um ano de atraso por conta da pandemia de Covid-19, as atenções do mundo todo se voltaram para Tóquio, no Japão, para acompanhar mais uma edição das Olimpíadas.

No Brasil não foi diferente, e muitos se uniram para torcer por nossos atletas em diferentes competições, tanto em esportes onde o Brasil já possui tradição quanto em novos esportes.

Vamos aproveitar o clima para estudar um pouco das Olimpíadas! Utilizaremos um _dataset_ com 120 anos de dados históricos das Olimpíadas, cobrindo desde os jogos de Atenas 1896 até Rio 2016. 

Faça o download do _dataset_ em https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results e carregue o arquivo ```athlete_events.csv``` para um DataFrame utilizando Pandas. Aproveite para explorar seu DataFrame e se familiarizar com a sua estrutura. 

OBS: Fique à vontade para acrescentar mais células Python conforme necessário em qualquer etapa do exercício.

## 1. O Brasil nas Olimpíadas

Vamos começar estudando o desempenho do nossos próprio país. Gere um DataFrame novo contendo apenas as informações sobre atletas brasileiros.

In [2]:
import pandas as pd
#df = pd.read_csv(r'C:\Users\Samsung\Desktop\Vida\Carreira\cientista de dados\lets code\exs\Listas\athlete_events.csv')
df = pd.read_csv(r'athlete_events.csv')
df_brasil = df.loc[df['NOC'] == 'BRA']


df_brasil

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
665,386,Alexandre Abeid,M,22.0,194.0,92.0,Brazil,BRA,1972 Summer,1972,Summer,Munich,Volleyball,Volleyball Men's Volleyball,NaN
666,386,Alexandre Abeid,M,26.0,194.0,92.0,Brazil,BRA,1976 Summer,1976,Summer,Montreal,Volleyball,Volleyball Men's Volleyball,NaN
668,388,Abel Carlos da Silva Braga,M,19.0,190.0,73.0,Brazil,BRA,1972 Summer,1972,Summer,Munich,Football,Football Men's Football,NaN
781,451,Diana Monteiro Abla,F,21.0,175.0,75.0,Brazil,BRA,2016 Summer,2016,Summer,Rio de Janeiro,Water Polo,Water Polo Women's Water Polo,NaN
1005,565,Glauclio Serro Abreu,M,26.0,185.0,75.0,Brazil,BRA,2004 Summer,2004,Summer,Athina,Boxing,Boxing Men's Middleweight,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268652,134400,"Maria Jos ""Zz"" Bertolotti",F,26.0,190.0,NaN,Brazil,BRA,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Women's Basketball,NaN
269745,134976,Sieglinda Lenk Zigler,F,17.0,NaN,NaN,Brazil,BRA,1936 Summer,1936,Summer,Berlin,Swimming,Swimming Women's 100 metres Backstroke,NaN
269899,135037,Moacir Zimmermann,M,32.0,184.0,70.0,Brazil,BRA,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Men's 20 kilometres Walk,NaN
270478,135289,Zzimo Alves Calazans,M,20.0,NaN,NaN,Brazil,BRA,1952 Summer,1952,Summer,Helsinki,Football,Football Men's Football,NaN
270789,135423,Ral Benedito Zumbano,M,22.0,NaN,NaN,Brazil,BRA,1948 Summer,1948,Summer,London,Boxing,Boxing Men's Lightweight,NaN

### Medalhistas

Vamos focar um pouco nos casos de sucesso do Brasil. Use o seu DataFrame anterior para filtrar apenas informações sobre **medalhistas** brasileiros. 

**DICA:** observe como a coluna ```Medal``` é representada quando o atleta não ganhou medalha.

In [3]:
df_medalistas_br = df_brasil.dropna(subset = ['Medal'])
df_medalistas_br

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
1651,918,Ademir Roque Kaefer,M,24.0,179.0,74.0,Brazil,BRA,1984 Summer,1984,Summer,Los Angeles,Football,Football Men's Football,Silver
1652,918,Ademir Roque Kaefer,M,28.0,179.0,74.0,Brazil,BRA,1988 Summer,1988,Summer,Seoul,Football,Football Men's Football,Silver
1668,925,Adenzia Aparecida Ferreira da Silva,F,25.0,187.0,65.0,Brazil,BRA,2012 Summer,2012,Summer,London,Volleyball,Volleyball Women's Volleyball,Gold
1733,966,Daniel Adler,M,26.0,180.0,72.0,Brazil,BRA,1984 Summer,1984,Summer,Los Angeles,Sailing,Sailing Mixed Three Person Keelboat,Silver
1856,1020,Adriana Aparecida dos Santos,F,25.0,180.0,61.0,Brazil,BRA,1996 Summer,1996,Summer,Atlanta,Basketball,Basketball Women's Basketball,Silver
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267709,133931,Arthur Nabarrete Zanetti,M,26.0,156.0,61.0,Brazil,BRA,2016 Summer,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Men's Rings,Silver
268211,134186,"Jos Elias ""Z Elias"" Moedim Jnior",M,19.0,178.0,75.0,Brazil,BRA,1996 Summer,1996,Summer,Atlanta,Football,Football Men's Football,Bronze
268218,134190,"Jos Marco ""Z Marco"" Nobrega Ferreira de Melo",M,29.0,190.0,86.0,Brazil-1,BRA,2000 Summer,2000,Summer,Sydney,Beach Volleyball,Beach Volleyball Men's Beach Volleyball,Silver
268219,134191,"Jos Marcelo ""Z Maria"" Ferreira",M,22.0,175.0,71.0,Brazil,BRA,1996 Summer,1996,Summer,Atlanta,Football,Football Men's Football,Bronze
268247,134211,Jos Carlos Cracco Neto,M,22.0,170.0,69.0,Brazil,BRA,2016 Summer,2016,Summer,Rio de Janeiro,Football,Football Men's Football,Gold

### Verão vs Inverno

Você deve ter notado que temos duas categorias distintas de jogos olímpicos, representados pela estação: temos os jogos de verão e os jogos de inverno, que ocorrem de maneira intercalada.

Agora que já conhecemos os medalhistas brasileiros, resposta: quantos atletas brasileiros receberam medalha nos jogos de verão e quantos receberam nos jogos de inverno?

In [4]:
quantidade_verao = df_medalistas_br['Name'].loc[df_medalistas_br['Season'] == 'Summer'].count()
quantidade_inverno = df_medalistas_br['Name'].loc[df_medalistas_br['Season'] == 'Winter'].count()

print(f'A quantidade de medalhistas no verão é: {quantidade_verao}')
print(f'A quantidade de medalhistas no inverno é: {quantidade_inverno}')

A quantidade de medalhistas no verão é: 475
A quantidade de medalhistas no inverno é: 0

Os jogos de verão são bem mais populares do que os jogos de inverno no Brasil. Portanto, deste ponto em diante iremos focar apenas nos jogos de verão. Descarte de seu DataFrame os dados dos jogos de inverno.

In [5]:
df_verao = df_medalistas_br.loc[df_medalistas_br['Season'] == 'Summer']

df_verao.head(60)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
1651,918,Ademir Roque Kaefer,M,24.0,179.0,74.0,Brazil,BRA,1984 Summer,1984,Summer,Los Angeles,Football,Football Men's Football,Silver
1652,918,Ademir Roque Kaefer,M,28.0,179.0,74.0,Brazil,BRA,1988 Summer,1988,Summer,Seoul,Football,Football Men's Football,Silver
1668,925,Adenzia Aparecida Ferreira da Silva,F,25.0,187.0,65.0,Brazil,BRA,2012 Summer,2012,Summer,London,Volleyball,Volleyball Women's Volleyball,Gold
1733,966,Daniel Adler,M,26.0,180.0,72.0,Brazil,BRA,1984 Summer,1984,Summer,Los Angeles,Sailing,Sailing Mixed Three Person Keelboat,Silver
1856,1020,Adriana Aparecida dos Santos,F,25.0,180.0,61.0,Brazil,BRA,1996 Summer,1996,Summer,Atlanta,Basketball,Basketball Women's Basketball,Silver
1857,1020,Adriana Aparecida dos Santos,F,29.0,180.0,61.0,Brazil,BRA,2000 Summer,2000,Summer,Sydney,Basketball,Basketball Women's Basketball,Bronze
1863,1023,"Adriana ""Adrianinha"" Moiss Pinto",F,21.0,170.0,65.0,Brazil,BRA,2000 Summer,2000,Summer,Sydney,Basketball,Basketball Women's Basketball,Bronze
4226,2419,Aldair Nascimento dos Santos,M,30.0,183.0,76.0,Brazil,BRA,1996 Summer,1996,Summer,Atlanta,Football,Football Men's Football,Bronze
4457,2546,Alessandra dos Santos de Oliveira,F,22.0,200.0,85.0,Brazil,BRA,1996 Summer,1996,Summer,Atlanta,Basketball,Basketball Women's Basketball,Silver
4458,2546,Alessandra dos Santos de Oliveira,F,26.0,200.0,85.0,Brazil,BRA,2000 Summer,2000,Summer,Sydney,Basketball,Basketball Women's Basketball,Bronze
4482,2559,Alex Sandro Lobo Silva,M,21.0,177.0,60.0,Brazil,BRA,2012 Summer,2012,Summer,London,Football,Football Men's Football,Silver
4561,2592,"Alexandre ""Alexandre Pato"" Rodrigues da Silva",M,18.0,179.0,71.0,Brazil,BRA,2008 Summer,2008,Summer,Beijing,Football,Football Men's Football,Bronze
4562,2592,"Alexandre ""Alexandre Pato"" Rodrigues da Silva",M,22.0,179.0,71.0,Brazil,BRA,2012 Summer,2012,Summer,London,Football,Football Men's Football,Silver
4642,2648,"Zenny ""Algodo"" de Azevedo",M,23.0,183.0,77.0,Brazil,BRA,1948 Summer,1948,Summer,London,Basketball,Basketball Men's Basketball,Bronze
4645,2648,"Zenny ""Algodo"" de Azevedo",M,35.0,183.0,77.0,Brazil,BRA,1960 Summer,1960,Summer,Roma,Basketball,Basketball Men's Basketball,Bronze
4805,2750,Aline Pellegrino,F,22.0,180.0,71.0,Brazil,BRA,2004 Summer,2004,Summer,Athina,Football,Football Women's Football,Silver
4824,2758,Alison Conte Cerutti,M,26.0,203.0,106.0,Brazil-1,BRA,2012 Summer,2012,Summer,London,Beach Volleyball,Beach Volleyball Men's Beach Volleyball,Silver
4825,2758,Alison Conte Cerutti,M,30.0,203.0,106.0,Brazil-1,BRA,2016 Summer,2016,Summer,Rio de Janeiro,Beach Volleyball,Beach Volleyball Men's Beach Volleyball,Gold
5323,3017,Alosio Pires Alves,M,25.0,182.0,74.0,Brazil,BRA,1988 Summer,1988,Summer,Seoul,Football,Football Men's Football,Silver
5720,3227,Thiago Soares Alves,M,25.0,194.0,88.0,Brazil,BRA,2012 Summer,2012,Summer,London,Volleyball,Volleyball Men's Volleyball,Silver
5860,3301,"Alexandre ""Amaral"" da Silva Mariano",M,23.0,170.0,67.0,Brazil,BRA,1996 Summer,1996,Summer,Atlanta,Football,Football Men's Football,Bronze
5928,3330,Amauri Ribeiro,M,25.0,198.0,87.0,Brazil,BRA,1984 Summer,1984,Summer,Los Angeles,Volleyball,Volleyball Men's Volleyball,Silver
5930,3330,Amauri Ribeiro,M,33.0,198.0,87.0,Brazil,BRA,1992 Summer,1992,Summer,Barcelona,Volleyball,Volleyball Men's Volleyball,Gold
5932,3331,Amaury Antnio Pasos,M,24.0,190.0,90.0,Brazil,BRA,1960 Summer,1960,Summer,Roma,Basketball,Basketball Men's Basketball,Bronze
5933,3331,Amaury Antnio Pasos,M,28.0,190.0,90.0,Brazil,BRA,1964 Summer,1964,Summer,Tokyo,Basketball,Basketball Men's Basketball,Bronze
6440,3612,Ana Flvia Chritaro Daniel Sanglard,F,26.0,187.0,73.0,Brazil,BRA,1996 Summer,1996,Summer,Atlanta,Volleyball,Volleyball Women's Volleyball,Bronze
6447,3615,Ana Paula Rodrigues Connelly (-Rodrigues Henkel),F,24.0,183.0,68.0,Brazil,BRA,1996 Summer,1996,Summer,Atlanta,Volleyball,Volleyball Women's Volleyball,Bronze
6759,3789,nderson Lus de Abreu Oliveira,M,20.0,176.0,77.0,Brazil,BRA,2008 Summer,2008,Summer,Beijing,Football,Football Men's Football,Bronze
6760,3790,Anderson de Oliveira Rodrigues,M,30.0,190.0,95.0,Brazil,BRA,2004 Summer,2004,Summer,Athina,Volleyball,Volleyball Men's Volleyball,Gold
6761,3790,Anderson de Oliveira Rodrigues,M,34.0,190.0,95.0,Brazil,BRA,2008 Summer,2008,Summer,Beijing,Volleyball,Volleyball Men's Volleyball,Silver
7208,4030,Jorge Luiz Andrade da Silva,M,31.0,170.0,72.0,Brazil,BRA,1988 Summer,1988,Summer,Seoul,Football,Football Men's Football,Silver
7244,4055,Andr Luiz Moreira,M,21.0,183.0,79.0,Brazil,BRA,1996 Summer,1996,Summer,Atlanta,Football,Football Men's Football,Bronze
7276,4071,Andr Lus dos Santos Ferreira,M,24.0,180.0,82.0,Brazil,BRA,1984 Summer,1984,Summer,Los Angeles,Football,Football Men's Football,Silver
7329,4101,Andria Suntaque,F,26.0,175.0,65.0,Brazil,BRA,2004 Summer,2004,Summer,Athina,Football,Football Women's Football,Silver
7330,4101,Andria Suntaque,F,30.0,175.0,65.0,Brazil,BRA,2008 Summer,2008,Summer,Beijing,Football,Football Women's Football,Silver
8851,4859,Adriana dos Santos Arajo,F,30.0,167.0,60.0,Brazil,BRA,2012 Summer,2012,Summer,London,Boxing,Boxing Women's Lightweight,Bronze
9260,5093,William Peixoto Arjona,M,37.0,186.0,78.0,Brazil,BRA,2016 Summer,2016,Summer,Rio de Janeiro,Volleyball,Volleyball Men's Volleyball,Gold
12223,6643,"Antnio Carlos ""Badalhoca"" Gueiros Ribeiro",M,26.0,193.0,84.0,Brazil,BRA,1984 Summer,1984,Summer,Los Angeles,Volleyball,Volleyball Men's Volleyball,Silver
14312,7716,Brbara Seixas de Freitas,F,29.0,178.0,67.0,Brazil-1,BRA,2016 Summer,2016,Summer,Rio de Janeiro,Beach Volleyball,Beach Volleyball Women's Beach Volleyball,Silver
14313,7717,Brbara Micheline do Monte Barbosa,F,20.0,171.0,71.0,Brazil,BRA,2008 Summer,2008,Summer,Beijing,Football,Football Women's Football,Silver
14409,7767,Dario Barbosa,M,37.0,NaN,NaN,Brazil,BRA,1920 Summer,1920,Summer,Antwerpen,Shooting,"Shooting Men's Free Pistol, 50 metres, Team",Bronze
15904,8573,Joo Santos Batista,M,27.0,179.0,68.0,Brazil,BRA,1988 Summer,1988,Summer,Seoul,Football,Football Men's Football,Silver
17002,9107,"Jos Roberto ""Bebeto"" Gama de Oliveira",M,24.0,177.0,69.0,Brazil,BRA,1988 Summer,1988,Summer,Seoul,Football,Football Men's Football,Silver
17003,9107,"Jos Roberto ""Bebeto"" Gama de Oliveira",M,32.0,177.0,69.0,Brazil,BRA,1996 Summer,1996,Summer,Atlanta,Football,Football Men's Football,Bronze
17468,9307,gatha Bednarczuk Rippel,F,33.0,182.0,70.0,Brazil-1,BRA,2016 Summer,2016,Summer,Rio de Janeiro,Beach Volleyball,Beach Volleyball Women's Beach Volleyball,Silver
17627,9394,Adriana Brando Behar,F,31.0,180.0,64.0,Brazil-1,BRA,2000 Summer,2000,Summer,Sydney,Beach Volleyball,Beach Volleyball Women's Beach Volleyball,Silver
17628,9394,Adriana Brando Behar,F,35.0,180.0,64.0,Brazil-1,BRA,2004 Summer,2004,Summer,Athina,Beach Volleyball,Beach Volleyball Women's Beach Volleyball,Silver
20234,10672,Bernard Rajzman,M,27.0,187.0,89.0,Brazil,BRA,1984 Summer,1984,Summer,Los Angeles,Volleyball,Volleyball Men's Volleyball,Silver
20303,10711,"Bernardo ""Bernardinho"" Rocha de Rezende",M,25.0,185.0,80.0,Brazil,BRA,1984 Summer,1984,Summer,Los Angeles,Volleyball,Volleyball Men's Volleyball,Silver
22109,11648,"Ubiratan ""Bira"" Pereira Maciel",M,20.0,196.0,96.0,Brazil,BRA,1964 Summer,1964,Summer,Tokyo,Basketball,Basketball Men's Basketball,Bronze
22613,11920,Lars Sigurd Bjorkstrom,M,36.0,184.0,75.0,Brazil,BRA,1980 Summer,1980,Summer,Moskva,Sailing,Sailing Mixed Multihull,Gold
23150,12174,Moyss Bls,M,23.0,181.0,NaN,Brazil,BRA,1960 Summer,1960,Summer,Roma,Basketball,Basketball Men's Basketball,Bronze
23195,12203,Waldemar Blatskauskas,M,22.0,189.0,NaN,Brazil,BRA,1960 Summer,1960,Summer,Roma,Basketball,Basketball Men's Basketball,Bronze
23818,12512,Waldyr Geraldo Boccardo,M,24.0,192.0,NaN,Brazil,BRA,1960 Summer,1960,Summer,Roma,Basketball,Basketball Men's Basketball,Bronze
25790,13462,Gustavo Frana Borges,M,19.0,203.0,98.0,Brazil,BRA,1992 Summer,1992,Summer,Barcelona,Swimming,Swimming Men's 100 metres Freestyle,Silver
25795,13462,Gustavo Frana Borges,M,23.0,203.0,98.0,Brazil,BRA,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Men's 100 metres Freestyle,Bronze
25796,13462,Gustavo Frana Borges,M,23.0,203.0,98.0,Brazil,BRA,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Men's 200 metres Freestyle,Silver
25799,13462,Gustavo Frana Borges,M,27.0,203.0,98.0,Brazil,BRA,2000 Summer,2000,Summer,Sydney,Swimming,Swimming Men's 4 x 100 metres Freestyle Relay,Bronze
25807,13466,Maurcio Borges Almeida Silva,M,27.0,199.0,99.0,Brazil,BRA,2016 Summer,2016,Summer,Rio de Janeiro,Volleyball,Volleyball Men's Volleyball,Gold
28160,14601,"Maria Anglica ""Branca"" Gonalves da Silva",F,30.0,170.0,68.0,Brazil,BRA,1996 Summer,1996,Summer,Atlanta,Basketball,Basketball Women's Basketball,Silver

### Atletas do Brasil

Vamos conhecer um pouco melhor nossos atletas. Descubra a altura e peso médio de nossos medalhistas.

In [6]:
Peso_medio = df_verao['Weight'].mean(axis = 0)
Altura_media = df_verao['Height'].mean(axis = 0)

print (f'O peso médio é: {Peso_medio}')
print (f'A altura média é: {Altura_media}')

O peso médio é: 76.7069351230425
A altura média é: 182.4945295404814

Imaginamos que diferentes esportes podem beneficiar diferentes tipos físicos, certo? Então refaça a análise anterior, mas obtendo os valores médios **por esporte**.

In [7]:

df_verao_br_2 = df_verao.groupby('Sport').mean()
altura_media_esporte = df_verao_br_2['Height']
print(altura_media_esporte)
peso_medio_esporte = df_verao_br_2['Weight']
print(f'\n{peso_medio_esporte}')

Sport
Athletics            181.000000
Basketball           185.607843
Beach Volleyball     184.880000
Boxing               170.000000
Canoeing             175.000000
Equestrianism        179.666667
Football             175.803030
Gymnastics           162.750000
Judo                 176.666667
Modern Pentathlon    166.000000
Sailing              181.588235
Shooting             175.000000
Swimming             189.105263
Taekwondo            184.000000
Volleyball           190.591667
Name: Height, dtype: float64

Sport
Athletics            74.576923
Basketball           78.478261
Beach Volleyball     78.160000
Boxing               64.000000
Canoeing             83.250000
Equestrianism        75.000000
Football             69.961832
Gymnastics           63.750000
Judo                 86.285714
Modern Pentathlon    55.000000
Sailing              80.411765
Shooting             69.000000
Swimming             81.555556
Taekwondo            79.500000
Volleyball           81.166667
Name: Weight, dtype: float64

Será que os dados acima influenciaram no interesse geral dos atletas pelo esporte ou realmente impactaram no desempenho deles? Podemos tentar descobrir se há algum tipo de correlação.

Você ainda possui o dataframe original contendo todos os atletas brasileiros, incluindo os sem medalha? Obtenha os valores médios de peso e altura por esporte daquele dataframe e compare-o com os dos medalhistas. Há alguma diferença significativa em algum esporte?

In [8]:
df_br_verao = df_brasil.loc[df_brasil['Season'] == 'Summer']

df_br_med = df_br_verao.groupby('Sport').mean()
altura_media_esporte_sem_med = df_br_med['Height']


df_merge = pd.concat([altura_media_esporte_sem_med,altura_media_esporte], axis = 1)


print(df_merge)
print('A Maior diferença comparando as alturas dos medalhistas com não medalhistas foi no Taekwondo com uma diferença de 11cm a mais para os medalhistas')

peso_medio_esporte_sem_med = df_br_med['Weight']

df_merge_2 = pd.concat([peso_medio_esporte_sem_med,peso_medio_esporte], axis = 1)
print('\n')
print(df_merge_2)
print('A Maior diferença comparando os pesos dos medalhistas com não medalhistas foi no Taekwondo com uma diferença de 16kg a mais para os medalhistas')

                           Height      Height
Sport
Archery                172.600000         NaN
Art Competitions              NaN         NaN
Athletics              176.203463  181.000000
Badminton              175.500000         NaN
Basketball             190.911894  185.607843
Beach Volleyball       185.702128  184.880000
Boxing                 171.985075  170.000000
Canoeing               177.791667  175.000000
Cycling                174.235955         NaN
Diving                 167.444444         NaN
Equestrianism          177.429530  179.666667
Fencing                179.196429         NaN
Football               173.369176  175.803030
Golf                   170.000000         NaN
Gymnastics             157.268041  162.750000
Handball               181.474453         NaN
Hockey                 177.437500         NaN
Judo                   173.925234  176.666667
Modern Pentathlon      168.600000  166.000000
Rhythmic Gymnastics    164.160000         NaN
Rowing                 180.552083         NaN
Rugby Sevens           171.240000         NaN
Sailing                179.677019  181.588235
Shooting               174.035294  175.000000
Swimming               181.176471  189.105263
Synchronized Swimming  168.461538         NaN
Table Tennis           169.727273         NaN
Taekwondo              173.769231  184.000000
Tennis                 183.900000         NaN
Trampolining           168.000000         NaN
Triathlon              175.800000         NaN
Volleyball             187.762411  190.591667
Water Polo             179.888889         NaN
Weightlifting          169.909091         NaN
Wrestling              176.230769         NaN
A Maior diferença comparando as alturas dos medalhistas com não medalhistas foi no Taekwondo com uma diferença de 11cm a mais para os medalhistas


                          Weight     Weight
Sport
Archery                71.700000        NaN
Art Competitions             NaN        NaN
Athletics              67.795045  74.576923
Badminton              74.000000        NaN
Basketball             85.900474  78.478261
Beach Volleyball       78.617021  78.160000
Boxing                 64.106061  64.000000
Canoeing               77.395833  83.250000
Cycling                66.870588        NaN
Diving                 64.970588        NaN
Equestrianism          72.313869  75.000000
Fencing                73.357143        NaN
Football               67.760456  69.961832
Golf                   62.000000        NaN
Gymnastics             52.463918  63.750000
Handball               80.773723        NaN
Hockey                 76.125000        NaN
Judo                   80.289720  86.285714
Modern Pentathlon      60.666667  55.000000
Rhythmic Gymnastics    48.160000        NaN
Rowing                 80.090909        NaN
Rugby Sevens           72.880000        NaN
Sailing                76.805195  80.411765
Shooting               76.916667  69.000000
Swimming               74.586634  81.555556
Synchronized Swimming  57.423077        NaN
Table Tennis           64.181818        NaN
Taekwondo              63.615385  79.500000
Tennis                 73.675000        NaN
Trampolining           58.000000        NaN
Triathlon              64.400000        NaN
Volleyball             78.847518  81.166667
Water Polo             81.471698        NaN
Weightlifting          85.640000        NaN
Wrestling              83.153846        NaN
A Maior diferença comparando os pesos dos medalhistas com não medalhistas foi no Taekwondo com uma diferença de 16kg a mais para os medalhistas

Existe um detalhe importante passando batido até agora em nossa análise: as categorias esportivas costumam ser divididas por gênero justamente por conta de diferenças físicas entre homens e mulheres que poderiam influenciar no desempenho. Compare a altura e peso médios de atletas brasileiros por esporte segmentado por sexo.

In [9]:
df_sex = df_br_verao.groupby(['Sport','Sex']).mean()
df_sex_2 = df_sex.dropna()
df_sex_2[['Height', 'Weight']]

                       Height     Weight
Sport         Sex
Archery       F    162.857143  59.714286
              M    177.846154  78.153846
Athletics     F    167.492958  59.809859
              M    180.068750  71.549669
Badminton     F    168.000000  70.000000
...                       ...        ...
Water Polo    M    181.423729  85.725000
Weightlifting F    161.500000  62.750000
              M    171.777778  90.000000
Wrestling     F    169.333333  66.666667
              M    182.142857  97.285714

[64 rows x 2 columns]

Qual foi (ou quais foram) o maior medalhista brasileiro em quantidade total de medalhas?

In [10]:
df_br_verao_ordenado = df_br_verao.groupby('Name').count()


df_ordenado_final = df_br_verao_ordenado.sort_values(by='Medal', ascending = False)

print('Os maiores medalhistas brasileiros são:')
df_ordenado_final[df_ordenado_final['Medal'] == df_ordenado_final['Medal'].max() ]

Os maiores medalhistas brasileiros são:

,ID,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
Name,,,,,,,,,,,,,,
Torben Schmidt Grael,6,6,6,6,6,6,6,6,6,6,6,6,6,5
Robert Scheidt,6,6,6,6,6,6,6,6,6,6,6,6,6,5

In [11]:
df_br_verao.loc[df_br_verao['Name'].str.contains('Scheidt')]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
212472,106683,Robert Scheidt,M,23.0,188.0,76.0,Brazil,BRA,1996 Summer,1996,Summer,Atlanta,Sailing,Sailing Mixed One Person Dinghy,Gold
212473,106683,Robert Scheidt,M,27.0,188.0,76.0,Brazil,BRA,2000 Summer,2000,Summer,Sydney,Sailing,Sailing Mixed One Person Dinghy,Silver
212474,106683,Robert Scheidt,M,31.0,188.0,76.0,Brazil,BRA,2004 Summer,2004,Summer,Athina,Sailing,Sailing Mixed One Person Dinghy,Gold
212475,106683,Robert Scheidt,M,35.0,188.0,76.0,Brazil,BRA,2008 Summer,2008,Summer,Beijing,Sailing,Sailing Men's Two Person Keelboat,Silver
212476,106683,Robert Scheidt,M,39.0,188.0,76.0,Brazil,BRA,2012 Summer,2012,Summer,London,Sailing,Sailing Men's Two Person Keelboat,Bronze
212477,106683,Robert Scheidt,M,43.0,188.0,76.0,Brazil,BRA,2016 Summer,2016,Summer,Rio de Janeiro,Sailing,Sailing Men's One Person Dinghy,NaN

E o(s) maior(es) em quantidade de medalhas de ouro?

In [12]:
df_tipo_medalha = df_br_verao.groupby(['Name', 'Medal']).count()
df_tipo_medalha_ouro = df_br_verao.loc[df_br_verao['Medal'] == 'Gold']

df_tipo_medalha_ouro_ordenado = df_tipo_medalha_ouro.groupby(['Name']).count()

df_tipo_medalha_ouro_ordenado.sort_values(by=['Medal'], ascending = False).head(13)

,ID,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
Name,,,,,,,,,,,,,,
"Fabiana ""Fabi"" Alvim de Oliveira",2,2,2,2,2,2,2,2,2,2,2,2,2,2
Torben Schmidt Grael,2,2,2,2,2,2,2,2,2,2,2,2,2,2
Fabiana Marcelino Claudino,2,2,2,2,2,2,2,2,2,2,2,2,2,2
Giovane Farinazzo Gvio,2,2,2,2,2,2,2,2,2,2,2,2,2,2
Paula Renata Marques Pequeno,2,2,2,2,2,2,2,2,2,2,2,2,2,2
Sheilla Tavares de Castro Blassioli,2,2,2,2,2,2,2,2,2,2,2,2,2,2
"Srgio ""Escadinha"" Dutra dos Santos",2,2,2,2,2,2,2,2,2,2,2,2,2,2
Robert Scheidt,2,2,2,2,2,2,2,2,2,2,2,2,2,2
Thasa Daher de Menezes,2,2,2,2,2,2,2,2,2,2,2,2,2,2
"Jaqueline Maria ""Jaque"" Pereira de Carvalho Endres",2,2,2,2,2,2,2,2,2,2,2,2,2,2
Marcelo Bastos Ferreira,2,2,2,2,2,2,2,2,2,2,2,2,2,2
Maurcio Camargo Lima,2,2,2,2,2,2,2,2,2,2,2,2,2,2
Adhemar Ferreira da Silva,2,2,2,2,2,2,2,2,2,2,2,2,2,2

Qual esporte rendeu mais medalhas de ouro para o Brasil? E qual rendeu mais medalhas no total?

**DICA:** tome muito cuidado nessa análise: cada **evento esportivo** rende 1 medalha. Por exemplo, quando a equipe de futebol vence, isso é considerado 1 medalha, mesmo tendo cerca de 20 atletas medalhistas na equipe.

In [13]:
df_medalhas_sport = df_tipo_medalha_ouro.drop_duplicates(['Sport', 'Year'])
df_sport_final = df_medalhas_sport.groupby(['Sport']).count().sort_values(by=['Medal'], ascending = False)

df_sport_final['Medal']

Sport
Athletics           5
Volleyball          5
Judo                4
Sailing             4
Beach Volleyball    3
Boxing              1
Equestrianism       1
Football            1
Gymnastics          1
Shooting            1
Swimming            1
Name: Medal, dtype: int64

Cada "categoria" dentro de um esporte é considerado um evento. Por exemplo, dentro de "atletismo", temos uma competição de 100m masculina, uma de 100m feminino, um revezamento 4 x 100m masculino, um revezamento 4 x 100m feminino, uma competição de 400m masculino, uma de 400m feminino, uma maratona masculina, uma maratona feminina, e assim sucessivamente.

Sabendo disso, qual evento esportivo mais rendeu medalhas de ouro para o Brasil? E total de medalhas?

In [14]:
df_medalhas_event = df_tipo_medalha_ouro.drop_duplicates(['Event', 'Year'])
df_event_final = df_medalhas_sport.groupby(['Event']).count().sort_values(by=['Medal'], ascending = False)

df_event_final['Medal']

Event
Volleyball Men's Volleyball                  3
Volleyball Women's Volleyball                2
Athletics Men's Triple Jump                  2
Beach Volleyball Men's Beach Volleyball      2
Judo Women's Extra-Lightweight               1
Swimming Men's 50 metres Freestyle           1
Shooting Men's Military Pistol, 30 metres    1
Sailing Women's Skiff                        1
Sailing Mixed Two Person Keelboat            1
Sailing Mixed Multihull                      1
Sailing Men's Two Person Keelboat            1
Judo Women's Lightweight                     1
Athletics Men's 800 metres                   1
Athletics Men's Pole Vault                   1
Judo Men's Half-Heavyweight                  1
Gymnastics Men's Rings                       1
Football Men's Football                      1
Equestrianism Mixed Jumping, Individual      1
Boxing Men's Lightweight                     1
Beach Volleyball Women's Beach Volleyball    1
Athletics Women's Long Jump                  1
Judo Men's Half-Lightweight                  1
Name: Medal, dtype: int64

Para finalizar sobre o Brasil: obtenha o total de medalhas de ouro, prata, bronze e total por ano.

In [15]:
df_br_medal_total = df_medalistas_br.drop_duplicates(['Sport', 'Year'])
df_br_medal_total_2 =df_br_medal_total.groupby(['Year','Medal']).count()

df_br_medal_total_2['ID']

Year  Medal
1920  Bronze    1
1948  Bronze    1
1952  Bronze    2
1956  Gold      1
1960  Bronze    2
1964  Bronze    1
1968  Bronze    2
      Silver    1
1972  Bronze    2
1976  Bronze    2
1980  Bronze    2
      Gold      1
1984  Bronze    1
      Gold      1
      Silver    4
1988  Bronze    1
      Gold      1
      Silver    2
1992  Gold      2
      Silver    1
1996  Bronze    6
      Gold      1
      Silver    2
2000  Bronze    5
      Silver    3
2004  Bronze    2
      Gold      3
      Silver    2
2008  Bronze    6
      Gold      1
      Silver    1
2012  Bronze    5
      Gold      2
      Silver    2
2016  Bronze    4
      Gold      6
      Silver    2
Name: ID, dtype: int64

## 2. O mundo nos jogos de verão

Vamos agora analisar um pouquinho do que aconteceu nas Olimpíadas de verão em todo o mundo.

Retome o DataFrame original e descarte as informações sobre os jogos de inverno.

In [16]:
df = pd.read_csv(r'athlete_events.csv')

df_verao = df[df.Season == 'Summer'] 
df_verao

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
26,8,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,168.0,NaN,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271106,135565,Fernando scar Zylberberg,M,27.0,168.0,76.0,Argentina,ARG,2004 Summer,2004,Summer,Athina,Hockey,Hockey Men's Hockey,NaN
271107,135566,"James Francis ""Jim"" Zylker",M,21.0,175.0,75.0,United States,USA,1972 Summer,1972,Summer,Munich,Football,Football Men's Football,NaN
271108,135567,Aleksandr Viktorovich Zyuzin,M,24.0,183.0,72.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271109,135567,Aleksandr Viktorovich Zyuzin,M,28.0,183.0,72.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271110,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN

Obtenha a lista de todos os esportes já disputados nas olimpíadas de verão.

In [17]:
df_verao['Sport'].unique()

array(['Basketball', 'Judo', 'Football', 'Tug-Of-War', 'Athletics',
       'Swimming', 'Badminton', 'Sailing', 'Gymnastics',
       'Art Competitions', 'Handball', 'Weightlifting', 'Wrestling',
       'Water Polo', 'Hockey', 'Rowing', 'Fencing', 'Equestrianism',
       'Shooting', 'Boxing', 'Taekwondo', 'Cycling', 'Diving', 'Canoeing',
       'Tennis', 'Modern Pentathlon', 'Golf', 'Softball', 'Archery',
       'Volleyball', 'Synchronized Swimming', 'Table Tennis', 'Baseball',
       'Rhythmic Gymnastics', 'Rugby Sevens', 'Trampolining',
       'Beach Volleyball', 'Triathlon', 'Rugby', 'Lacrosse', 'Polo',
       'Cricket', 'Ice Hockey', 'Racquets', 'Motorboating', 'Croquet',
       'Figure Skating', 'Jeu De Paume', 'Roque', 'Basque Pelota',
       'Alpinism', 'Aeronautics'], dtype=object)

Obtenha a lista de todas as modalidades esportivas já disputadas nas olimpíadas de verão.

In [18]:
df_verao['Sport'].unique()
print(len(df_verao['Sport'].unique()))

52

Obtenha a lista de todos os países que já disputaram olimpíadas.

In [19]:
df_verao['NOC'].unique()

array(['CHN', 'DEN', 'NED', 'FIN', 'NOR', 'ROU', 'EST', 'FRA', 'MAR',
       'ESP', 'EGY', 'IRI', 'BUL', 'ITA', 'CHA', 'AZE', 'SUD', 'RUS',
       'ARG', 'CUB', 'BLR', 'GRE', 'CMR', 'TUR', 'CHI', 'MEX', 'USA',
       'URS', 'NCA', 'HUN', 'NGR', 'ALG', 'KUW', 'BRN', 'PAK', 'IRQ',
       'UAR', 'LIB', 'QAT', 'MAS', 'GER', 'CAN', 'IRL', 'AUS', 'RSA',
       'ERI', 'TAN', 'JOR', 'TUN', 'LBA', 'BEL', 'DJI', 'PLE', 'COM',
       'KAZ', 'BRU', 'IND', 'KSA', 'SYR', 'MDV', 'ETH', 'UAE', 'YAR',
       'INA', 'PHI', 'SGP', 'UZB', 'KGZ', 'TJK', 'EUN', 'JPN', 'CGO',
       'SUI', 'BRA', 'GDR', 'MON', 'ISR', 'URU', 'SWE', 'SRI', 'ARM',
       'CIV', 'KEN', 'BEN', 'GBR', 'GHA', 'SOM', 'NIG', 'MLI', 'AFG',
       'POL', 'CRC', 'PAN', 'GEO', 'SLO', 'GUY', 'NZL', 'POR', 'PAR',
       'ANG', 'VEN', 'COL', 'FRG', 'BAN', 'PER', 'ESA', 'PUR', 'UGA',
       'HON', 'ECU', 'TKM', 'MRI', 'SEY', 'TCH', 'LUX', 'MTN', 'SKN',
       'TTO', 'DOM', 'VIN', 'JAM', 'LBR', 'SUR', 'NEP', 'MGL', 'AUT',
       'PLW', 'LTU', 'TOG', 'NAM', 'AHO', 'UKR', 'ISL', 'ASA', 'SAM',
       'RWA', 'CRO', 'DMA', 'HAI', 'MLT', 'CYP', 'GUI', 'BIZ', 'YMD',
       'THA', 'BER', 'ANZ', 'SCG', 'SLE', 'PNG', 'YEM', 'IOA', 'OMA',
       'FIJ', 'VAN', 'MDA', 'BAH', 'GUA', 'YUG', 'LAT', 'SRB', 'IVB',
       'MOZ', 'ISV', 'CAF', 'MAD', 'MAL', 'BIH', 'GUM', 'CAY', 'SVK',
       'BAR', 'GBS', 'TLS', 'COD', 'GAB', 'SMR', 'LAO', 'BOT', 'ROT',
       'KOR', 'CAM', 'PRK', 'SOL', 'SEN', 'CPV', 'CZE', 'CRT', 'GEQ',
       'BOL', 'SAA', 'ANT', 'AND', 'ZIM', 'GRN', 'HKG', 'LCA', 'FSM',
       'MYA', 'MAW', 'ZAM', 'RHO', 'TPE', 'STP', 'MKD', 'BOH', 'LIE',
       'MNE', 'GAM', 'COK', 'ALB', 'WIF', 'SWZ', 'BUR', 'NBO', 'BDI',
       'ARU', 'NRU', 'VNM', 'VIE', 'BHU', 'MHL', 'KIR', 'UNK', 'TUV',
       'TGA', 'NFL', 'KOS', 'SSD', 'LES'], dtype=object)

Qual atleta foi o maior medalhista (em medalhas totais) da história das olimpíadas de verão?

In [20]:
vencedor = df_verao.groupby(['ID','Name'])['Medal'].count()
#vencedor[vencedor.max()]

print(f'O maior medalhista olímpico é {vencedor.idxmax()[1]} com {vencedor.max()} medalhas')

O maior medalhista olímpico é Michael Fred Phelps, II com 28 medalhas

Qual atleta foi o maior medalhista de ouro da história das olimpíadas de verão?

In [21]:
vencedor_ouro =  df_verao.groupby(['Name'])['Medal'].value_counts()

mask = vencedor_ouro.index.get_level_values('Medal').str.contains('Gold')
vencedor_ouro = vencedor_ouro[mask]

vencedor_ouro.loc[vencedor_ouro == vencedor_ouro.max()]
#vencedor_ouro.iloc[vencedor_ouro.index.str.contains('Gold')]

Name                     Medal
Michael Fred Phelps, II  Gold     23
Name: Medal, dtype: int64

Qual país foi o maior medalhista de ouro da história das olimpíadas de verão? Lembre-se da questão do evento esportivo, para não considerar múltiplas medalhas para um mesmo evento (ex: uma equipe de futebol fazendo parecer que mais de 20 medalhas foram distribuídas).

In [22]:
#df_pais = df_verao.drop_duplicates(subset=['Year','Event','City'], keep = 'first')
df_pais = df_verao.copy()
df_pais.dropna(subset = ['Medal'], inplace = True)
df_pais_ouro = df_pais[df_pais.Medal == 'Gold']
df_pais_ouro = df_pais_ouro.drop_duplicates(subset=['Team','City','Event','Year','Sport','Season'], keep = 'first')
ganhador = df_pais_ouro.groupby(['Team'])['Medal'].count()

print(f'O país que mais ganhou ouro {ganhador.idxmax()}')

#country = df_pais.groupby(['NOC'],)['Medal'].value_counts()

#country =  country[country.Medal == 'Gold']

#mask = country.index.get_level_values('Medal').str.contains('Gold')
#country = country[mask]
#country.loc[country == country.max()]
#country.iloc[vencedor_ouro.index.get_level_values('Medal').str.contains('Gold')]

O país que mais ganhou ouro United States

Qual país foi o maior medalhista em medalhas totais na história das olimpíadas de verão?

In [23]:
df_pais_total = df_verao.copy()
df_pais_total.dropna(subset = ['Medal'], inplace = True)
df_pais_ouro = df_pais_ouro.drop_duplicates(subset=['Team','City','Event','Year','Sport','Season'], keep = 'first')
ganhador = df_pais_total.groupby(['Team'])['Medal'].count()

print(f'O país que mais ganhou medalhas foi {ganhador.idxmax()}')







#df_pais = df_verao.drop_duplicates(subset=['Event','Year'], keep = 'first')
#df_pais.dropna(subset = ['Medal'], inplace = True)
#country = df_pais.groupby(['NOC'])['Medal'].count()

#country.iloc[]

O país que mais ganhou medalhas foi United States

Obtenha o total de medalhas de ouro, prata e total por edição das Olimpíadas de verão. Lembre-se da questão do evento esportivo.

In [24]:
df_sede = df_verao.copy()

df_sede = df_sede.drop_duplicates(subset=['Team','City','Event','Year','Sport','Season'], keep = 'first')

df_ano = df_sede.groupby(['Year'])['Medal'].value_counts()

Index = df_ano.index.sort_values()
df_comp = df_ano.sort_index()
df_ano[Index]

Year  Medal
1896  Bronze     22
      Gold       29
      Silver     19
1900  Bronze     51
      Gold       60
               ...
2012  Gold      232
      Silver    236
2016  Bronze    295
      Gold      243
      Silver    225
Name: Medal, Length: 87, dtype: int64

## 3. Brasil vs Mundo

Para finalizar, vamos fazer algumas comparações entre Brasil e mundo. Qual o ranking do Brasil em cada edição das olimpíadas? Lembrando que o ranking é ordenado por medalhas de ouro.

In [70]:
df_ajustado = df[~df['Medal'].isna()]
df_ajustado.drop_duplicates(subset=['Event','Games'], keep = 'first', inplace = True)
df_ajustado = df_ajustado[df_ajustado['Season'] == 'Summer']

df_qdro_med_ano = df_ajustado.groupby(['Year', 'NOC', 'Medal']).size().unstack('Medal').reset_index().fillna(0)

df_qdro_med_ano[['Gold','Silver','Bronze']] = df_qdro_med_ano[['Gold','Silver','Bronze']].astype('int16')


df_qdro_med_ano.sort_values(by=['Year', 'Gold', 'Silver', 'Bronze'], 
                                ascending=[True, False, False, False], inplace=True)

df_qdro_med_ano['Ranking'] = df_qdro_med_ano.groupby(by='Year').cumcount()+1


df_qdro_med_ano.columns.names = ['']

df_qdro_med_ano
#df_qdro_med_ano.loc[df_qdro_med_ano.NOC == 'BRA'].reset_index().index.names = ['']

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

     Year  NOC  Bronze  Gold  Silver  Ranking
5    1896  USA       0     8       1        1
3    1896  GRE       6     5       2        2
2    1896  GER       0     4       2        3
1    1896  GBR       1     3       2        4
0    1896  FRA       1     2       3        5
..    ...  ...     ...   ...     ...      ...
909  2016  LTU       1     0       0       61
910  2016  MAS       1     0       0       62
914  2016  NGR       1     0       0       63
923  2016  RSA       1     0       0       64
930  2016  TPE       1     0       0       65

[938 rows x 6 columns]

In [26]:



#df_qdro_med_ano = df_qdro_med_ano[df_qdro_med_ano.Medal == 'Gold']

#df_qdro_med_ano['Gold'] = df_qdro_med_ano[df_qdro_med_ano['Medal']=='Gold']['Qtde']

#df_qdro_med_ano['Silver'] = df_qdro_med_ano[df_qdro_med_ano['Medal']=='Silver']['Qtde']
#df_qdro_med_ano['Bronze'] = df_qdro_med_ano[df_qdro_med_ano['Medal']=='Bronze']['Qtde']


#df_qdro_med_ano = df_qdro_med_ano.sort_values(by = ['Year', 'Gold'], 
                                     #ascending=[True, False])




# #df_qdro_med_ano.drop(columns=['Medal','Qtde'],inplace = True)
# #df_qdro_med_ano.reset_index(drop=True)

# #df_qdro_med_ano['Posicao']=(df_qdro_med_ano.groupby(by = ['Year']).cumcount())+1
# #df_qdro_med_ano[df_qdro_med_ano.NOC == 'BRA']


# df_qdro_med_ano
# anos = df_qdro_med_ano['Year'].unique()

# anos
# brasil = []
# for i in anos : 
#     df_ = df_qdro_med_ano[df_qdro_med_ano.Year == i]
#     df_.sort_values(by = ['Gold'],ascending = False, inplace = True)
#     df_.reset_index(drop=True, inplace = True)
    
#     brasil.append(df_.loc[df_.NOC == 'BRA'])

# brasil_corrigido = []

# for i in range(0,len(brasil)):
#     if brasil[i]['Gold'].empty == False :
#         brasil_corrigido.append(brasil[i])

# brasil_corrigido

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

[    Year  NOC Medal  Qtde  Gold  Posicao
 13  1920  BRA  Gold     1     1       14,
     Year  NOC Medal  Qtde  Gold  Posicao
 17  1952  BRA  Gold     1     1       18,
     Year  NOC Medal  Qtde  Gold  Posicao
 16  1956  BRA  Gold     1     1       17,
     Year  NOC Medal  Qtde  Gold  Posicao
 18  1980  BRA  Gold     2     2       14,
     Year  NOC Medal  Qtde  Gold  Posicao
 20  1984  BRA  Gold     1     1       21,
     Year  NOC Medal  Qtde  Gold  Posicao
 24  1988  BRA  Gold     1     1       25,
     Year  NOC Medal  Qtde  Gold  Posicao
 25  1992  BRA  Gold     2     2       20,
     Year  NOC Medal  Qtde  Gold  Posicao
 26  1996  BRA  Gold     3     3       21,
     Year  NOC Medal  Qtde  Gold  Posicao
 16  2004  BRA  Gold     5     5       16,
     Year  NOC Medal  Qtde  Gold  Posicao
 18  2008  BRA  Gold     3     3       19,
     Year  NOC Medal  Qtde  Gold  Posicao
 20  2012  BRA  Gold     3     3       21,
     Year  NOC Medal  Qtde  Gold  Posicao
 12  2016  BRA  Gold     7     7       13]

In [27]:
(df_qdro_med_ano[(df_qdro_med_ano.Year == 1896 ) & (df_qdro_med_ano.NOC == 'BRA' )]).empty()

TypeError: 'bool' object is not callable

In [ ]:
df_ajustado = df.drop_duplicates(subset=['Year','Event','NOC'], keep = 'first')

df_ajustado = df_ajustado[df_ajustado['Season'] == 'Summer']

df_qdro_med_ano = df_ajustado.groupby(['Year', 'NOC', 'Medal']).size().reset_index()

df_qdro_med_ano.rename(columns={0: 'Qtde'}, inplace=True)

medalhas = pd.get_dummies(df_qdro_med_ano['Medal'])
df_qdro_med_ano

      Year  NOC   Medal  Qtde
0     1896  AUS  Bronze     1
1     1896  AUS    Gold     2
2     1896  AUT  Bronze     2
3     1896  AUT    Gold     2
4     1896  AUT  Silver     1
...    ...  ...     ...   ...
2612  2016  UZB  Silver     2
2613  2016  VEN  Bronze     2
2614  2016  VEN  Silver     1
2615  2016  VIE    Gold     1
2616  2016  VIE  Silver     1

[2617 rows x 4 columns]

Compare o maior medalhista em ouros do Brasil com o maior medalhista em ouros do mundo.

In [ ]:
brasil_ouro = df_pais_ouro.loc[df_pais_ouro['NOC'] == 'BRA']

brasileiro = brasil_ouro.groupby(['Name'])['Medal'].count()
mundo  = df_pais_ouro.groupby(['Name'])['Medal'].count().idxmax()

print (f'O maior medalhista de ouro do Brasil {brasileiro.idxmax()} e do mundo {mundo}')

O maior medalhista de ouro do Brasil Adhemar Ferreira da Silva e do mundo Michael Fred Phelps, II

Compare o maior medalhista em total de medalhas do Brasil com o maior medalhista em total de medalhas do mundo.

In [ ]:
brasil2 = df_pais[df_pais.NOC == 'BRA'].groupby(['Name'])['Medal'].count()

mundo2 = df_pais.groupby(['Name'])['Medal'].count()


print(f'O maior medalista brasileiro é {brasil2.idxmax()} com {brasil2.loc[brasil2.idxmax()]}' )
print(f'O maior medalista é {mundo2.idxmax()} com {mundo2.loc[mundo2.idxmax()]}' )

O maior medalista é Robert Scheidt com 5
O maior medalista é Michael Fred Phelps, II com 28

Compare o maior medalhista em ouros do Brasil com o maior medalhista do mundo no mesmo esporte.

In [ ]:
#df_pais_ouro['Name'].str.contains(brasileiro)
esporte_compare = df_pais_ouro.loc[df_pais_ouro['Name'].str.contains(brasileiro.idxmax())].Sport
esporte_compare.reset_index(drop = True)
esporte_compare.iloc[1]

df_atletismo_ouro = df_pais_ouro.loc[ df_pais_ouro.Sport == esporte_compare.iloc[1]]

corredor = df_atletismo_ouro.groupby('Name')['Medal'].count()


print(f'O maior medalista é {brasileiro.idxmax()} com {brasileiro.max() } medalhas no atletismo' )
print(f'O maior medalista  no atletismo é {corredor.idxmax()} com {corredor.max()}' )

O maior medalista é Adhemar Ferreira da Silva com 2 medalhas no atletismo
O maior medalista  no atletismo é Raymond Clarence "Ray" Ewry com 10

Compare o maior medalhista em total de medalhas do Brasil com o maior medalhista do mundo no mesmo esporte.

In [ ]:
esporte_compare = df_pais.loc[df_pais['Name'].str.contains(brasil2.idxmax())].Sport
esporte_compare.reset_index(drop = True)

mask = df_pais.Sport == esporte_compare.iloc[0]

df_maior_ganhador_event = df_pais.loc[mask]

ganhador = df_maior_ganhador_event.groupby('Name')['Medal'].count()



print(f'O maior ganhador de medalhas da {brasil2.idxmax()} é {ganhador.idxmax()} com ')

print(f'{ganhador.max()} medalhas')

O maior ganhador de medalhas da Robert Scheidt é Charles Benedict "Ben" Ainslie com
5 medalhas

Calcule o percentual de medalhas de ouro, prata e bronze que o Brasil ganhou em cada olimpíada.

In [ ]:
import pandas as pd
#df = pd.read_csv(r'C:\Users\Samsung\Desktop\Vida\Carreira\cientista de dados\lets code\exs\Listas\athlete_events.csv')
df = pd.read_csv(r'athlete_events.csv')
df_brasil = df.loc[df['Team'] == 'Brazil'].copy()

df_brasil.dropna(axis = 0 , subset = ['Medal'], inplace = True  )

#df_brasil.loc[df_brasil.Year == 1920].drop_duplicates(subset = ['Event'], keep = 'first')
df_brasil.Medal = pd.Categorical(values=df_brasil.Medal, categories=['Bronze', 'Silver', 'Gold'], ordered=True)
df_brasil.drop_duplicates(subset=['Event','Games'], keep = 'first', inplace = True)
brasil_por_ano = df_brasil.groupby(['Games', 'Medal'])['Name'].count()
brasil_por_ano = brasil_por_ano.unstack(level = 'Medal')


for i in brasil_por_ano.index: 
    
    if brasil_por_ano.loc[i].sum(axis = 0) > 0:
        
        sum_year = brasil_por_ano.loc[i].sum(axis = 0)
        
        brasil_por_ano.loc[i]= brasil_por_ano.loc[i].astype('float') /sum_year
        
        


brasil_por_ano*=100
brasil_por_ano

Medal            Bronze     Silver        Gold
Games
1920 Summer   33.333333  33.333333   33.333333
1948 Summer  100.000000   0.000000    0.000000
1952 Summer   66.666667   0.000000   33.333333
1956 Summer    0.000000   0.000000  100.000000
1960 Summer  100.000000   0.000000    0.000000
1964 Summer  100.000000   0.000000    0.000000
1968 Summer   66.666667  33.333333    0.000000
1972 Summer  100.000000   0.000000    0.000000
1976 Summer  100.000000   0.000000    0.000000
1980 Summer   50.000000   0.000000   50.000000
1984 Summer   25.000000  62.500000   12.500000
1988 Summer   50.000000  33.333333   16.666667
1992 Summer    0.000000  33.333333   66.666667
1996 Summer   69.230769  15.384615   15.384615
2000 Summer   55.555556  44.444444    0.000000
2004 Summer   37.500000  12.500000   50.000000
2008 Summer   57.142857  21.428571   21.428571
2012 Summer   53.333333  26.666667   20.000000
2016 Summer   31.250000  31.250000   37.500000

In [ ]:
df_brasil.Medal = pd.Categorical(values=df_brasil.Medal, categories=['Bronze', 'Silver', 'Gold'], ordered=True)
df_brasil.drop_duplicates(subset=['Event','Games'], keep = 'first', inplace = True)
brasil_por_ano = df_brasil.groupby(['Games', 'Medal'])['Name'].count()
brasil_por_ano = brasil_por_ano.unstack(level = 'Medal')


for i in brasil_por_ano.index: 
    
    if brasil_por_ano.loc[i].sum(axis = 0) > 0:
        
        sum_year = brasil_por_ano.loc[i].sum(axis = 0)
        
        brasil_por_ano.loc[i]= brasil_por_ano.loc[i].astype('float') /sum_year
        
        


brasil_por_ano

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/pandas/core/frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

Medal          Bronze    Silver      Gold
Games
1920 Summer  0.333333  0.333333  0.333333
1948 Summer  1.000000  0.000000  0.000000
1952 Summer  0.666667  0.000000  0.333333
1956 Summer  0.000000  0.000000  1.000000
1960 Summer  1.000000  0.000000  0.000000
1964 Summer  1.000000  0.000000  0.000000
1968 Summer  0.666667  0.333333  0.000000
1972 Summer  1.000000  0.000000  0.000000
1976 Summer  1.000000  0.000000  0.000000
1980 Summer  0.500000  0.000000  0.500000
1984 Summer  0.250000  0.625000  0.125000
1988 Summer  0.500000  0.333333  0.166667
1992 Summer  0.000000  0.333333  0.666667
1996 Summer  0.692308  0.153846  0.153846
2000 Summer  0.555556  0.444444  0.000000
2004 Summer  0.375000  0.125000  0.500000
2008 Summer  0.571429  0.214286  0.214286
2012 Summer  0.533333  0.266667  0.200000
2016 Summer  0.312500  0.312500  0.375000

In [ ]:
#brasil_por_ano['Gold'] = ["{:%}%".format(val * 100) for val in brasil_por_ano['Gold']]

#brasil_por_ano['Silver'] = ["{:%}%".format(val * 100) for val in brasil_por_ano['Silver']][]
#brasil_por_ano['Bronze'] = ["{:%}%".format(val * 100) for val in brasil_por_ano['Bronze']]

[0.3333333333333333, 0.0, 0.0, 0.0, 0.0, 0.0, 0.3333333333333333, 0.0, 0.0, 0.0, 0.625, 0.3333333333333333, 0.3333333333333333, 0.15384615384615385, 0.4444444444444444, 0.125, 0.21428571428571427, 0.26666666666666666, 0.3125]

# **Referência** 

[Data-Analysis-120-years-of-olympic-history](https://github.com/AMMLRepos/Data-Analysis-120-years-of-olympic-history/blob/main/data_analysis_120_years_of_olympic.ipynb)

[Olymnpic Analisys](https://thecleverprogrammer.com/2020/05/27/data-science-project-olympic-games-data-exploration/)

[**Pivot and groupby beginners guide**](https://www.kaggle.com/ostrowski/olympic-games-pivot-and-groupby-beginners-guide)

[Datacamp Python Track](https://github.com/AmoDinho/datacamp-python-data-science-track/blob/master/Merging%20DataFrames%20with%20pandas/Chapter%204%20-%20Case%20Study%20-%20Summer%20Olympics.py)

[GeeksForGeeks](https://www.geeksforgeeks.org/olympics-data-analysis-using-python/)


[Aws version](https://s3.amazonaws.com/assets.datacamp.com/production/course_3255/slides/ch4_slides.pdf)

[Python Pandas](https://www.programsbuzz.com/interview-question/python-pandas-determine-total-number-medals-won-each-country)

[Curso Interassante](https://necromuralist.github.io/data_science/posts/assignment-2-olympic-medals/)

[Shinji's Version](https://shichaoji.com/2017/02/14/pandas-5-practicing/)

In [ ]:
import numpy as np
df_medals_by_year1 = df.pivot_table( index = ['Games', 'Medal'], values  = 'Name', aggfunc = 'count')
df_medals_by_year2 = df.groupby(['Games','Medal'])['Name','NOC'].count()
df_medals_by_year2

/var/folders/sw/cl3jb6b52z5bx56mwwh853m40000gn/T/ipykernel_13381/3727170366.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_medals_by_year2 = df.groupby(['Games','Medal'])['Name','NOC'].count()

                    Name  NOC
Games       Medal
1896 Summer Bronze    38   38
            Gold      62   62
            Silver    43   43
1900 Summer Bronze   175  175
            Gold     201  201
...                  ...  ...
2014 Winter Gold     202  202
            Silver   197  197
2016 Summer Bronze   703  703
            Gold     665  665
            Silver   655  655

[153 rows x 2 columns]